
body {
    background-color: peachpuff;
    font-family: 'Franklin Gothic Medium', 'Times New Roman', Times, serif;
}

/* Header Style */

.top-banner {
    display: flex;
    align-items: center;
    font-size: 4vw;
}

.logo {
    width: 7vh;
    height: auto;
    padding:10px;
    padding-right: 50px;
}

body {
    background-image: url("Agrumes.png")!important;
    background-size:  cover;
    background-repeat: no-repeat;
}

header, footer {
    background-color: orangered;
}

footer {
    position:absolute;
    bottom:0px;
    width:100vw;
}